@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

 /* <uniquifier>: Use a uniquifier for the class name
<weight>: Use a value from 300 to 700 */


*{
  box-sizing: none;
  padding: 0;
  margin: 0;
}
body{
  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  color: white;
}

h1,h2{
  font-family: "Zen Antique", serif;
}
