.crew-bg{
    background: url(../assets/image/crew/background-crew-desktop.jpg);
    height: 100%;
}
.crew{
    width: 100%;
    /* border: 1px solid rgb(104, 24, 201); */
    padding-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title-crew{
    width: 100%;
}
.title-crew h1{
    font-family: 'MOhave';
    font-weight: 100;
}
.title-crew h1 span{
    padding-right: 15px;
    color: gray;
}

.content-crew{
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 90%;
}
.left-content-crew{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 100%;
}
.right-content-crew{
    width: 40%;
    height: 100%;
}
.left-content-text{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.left-content-text h2{
    font-family: "Mohave", sans-serif;
    font-weight: 100;
    font-size: 3rem;
    color: gray;
}
.left-content-text h1{
    font-family: "Mohave", sans-serif;
    font-size: 5.5rem;
    font-weight: 200;
}
.left-content-text p{
    font-size: 1.2rem;
    width: 60%;
}

.left-content-btn{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.left-content-btn button{
    padding: 7px;
    border: none;
    border-radius: 50%;
    background-color: rgb(117, 115, 115);
}
.left-content-btn button:hover{
    background-color: rgb(199, 187, 187);
}
.left-content-btn .active{
    background-color: rgb(255, 255, 255);
}

.right-content-crew img{
    max-width: 120%;
    height: 100%;
}

@media (min-width: 200px) and (max-width: 767px) {
    .crew-bg{
        background: url(../assets/image/crew/background-crew-mobile.jpg);
        height: 100%;
    }
    .crew{
        width: 100%;
        padding-top: 70px;

    }
    .main{
        width: 90%;
        
        justify-content: space-between;
    }
    .title-crew{
        width: 100%;
        text-align: center;
    }
    
    .content-crew{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        height: 90%;
    }
    .left-content-crew{
        border-top: 1px solid gray;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 60%;
    }
    .right-content-crew{
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left-content-text{
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .left-content-text h2{
        font-family: "Mohave", sans-serif;
        font-weight: 100;
        font-size: 1.3rem;
        color: gray;
        text-align: center;
    }
    .left-content-text h1{
        font-family: "Mohave", sans-serif;
        font-size: 2rem;
        font-weight: 200;
        text-align: center;
    }
    .left-content-text p{
        font-size: 1.05rem;
        width: 100%;
        text-align: center;
        
    }
    
    .left-content-btn{
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
    }
    
    .left-content-btn button{
        padding: 6px;
        border: none;
        border-radius: 50%;
        background-color: gray;
    }
    
    .right-content-crew img{
        /* width: 100%; */
        height: 100%;
    }
   
   
   }
   
   /* Media Query for Tablets Ipads portrait mode */
   @media (min-width: 768px) and (max-width: 1024px){
    .crew-bg{
        background: url(../assets/image/crew/background-crew-tablet.jpg);
        height: 100%;
    }
    .crew{
        width: 100%;
        padding-top: 140px;
        height: 100%;
    }
    .main{
        width: 90%;
        justify-content: space-between;
        height: 80%;
    }
    .title-crew{
        width: 100%;
    }
    
    .content-crew{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50%;
    }
    .left-content-crew{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 60%;
    }
    .right-content-crew{
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left-content-text{
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .left-content-text h2{
        font-family: "Mohave", sans-serif;
        font-weight: 100;
        font-size: 3rem;
        color: gray;
        text-align: center;
    }
    .left-content-text h1{
        font-family: "Mohave", sans-serif;
        font-size: 5rem;
        font-weight: 200;
        text-align: center;
    }
    .left-content-text p{
        font-size: 1.8rem;
        width: 100%;
        text-align: center;
        
    }
    
    .left-content-btn{
        height: 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20%;
        margin: 40px;
        
    }
    
    .left-content-btn button{
        padding: 8px;
        border: none;
        border-radius: 50%;
        background-color: gray;
    }
    
    .right-content-crew img{
        /* width: 100%; */
        height: 80%;
    }
   
   
   }