.header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: fixed;
    top: 2%;
    
    
}
    .border-header{
        content: '';
        position: absolute;
        left: 15%;
        right: 55%;
        border-bottom: 1px solid gray;
    }

.left-side{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 10%;
}

.right-side,.hamburger{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(1rem);
}
.right-side ul{
    display: flex;
    list-style: none;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.right-side ul .nav{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side ul li{
    color: white;
    font-size: 20px;
    word-spacing: 10px;
    cursor: pointer;
}
.right-side ul li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.275rem;
    background-color: white;
    left: 5px;
    bottom: 0;
    transform: scale(0,1);
    transition: transform .4s ease;
}

.right-side ul li:hover::after{
    transform: scale(1,1);
}

.right-side ul li span{
    font-weight: 700;
}

/* .right-side ul .active::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.275rem;
    background-color: white;
    left: 5px;
    bottom: 0;
    transform: scale(1,1);
    transition: transform .4s ease;
} */

.hamburger{
    display: none;
}

img{
    cursor: pointer;
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 200px) and (max-width: 767px) {
    /* .right-side{
        width: 70%;
        display: none;
        
    } */
    .header{
        position: fixed;
        top: 0%;
        height: 90px;
        display: none;
    }
    /* .hamburger{
        display: flex;
        height: 90px;
        width: 15%;
        backdrop-filter: none;
    }
    img{
        height: 35px;
    } */


   }
   
   /* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1080px){
    .right-side{
        width: 70%;
        background-color: rgba(110, 109, 109, 0.196);
        backdrop-filter: blur(7rem);
    }
    .header{
        position: fixed;
        top: 0%;
        height: 100px;

    }
   }
   
   
