.sidebar{
    display: none;
}

@media (min-width: 200px) and (max-width: 767px) {
    
    .img-side{
        width: 40px;
        height: 40px;
    }
    .sidebar{
        /* height: 70px; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: transparent;
        position: fixed;
        
    }
    .left, .right{
        height: 60px;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-side-nav{
        position: absolute;
        top: 100%;
        left: 50%;
        right: 0;
        display: flex;
        align-items: center;  
        flex-direction: column;
        height: 90vh;
        backdrop-filter: blur(60px);
        z-index: 100;
    }
    
    .right-side-nav ul{
        display: flex;
        flex-direction: column;
        height: 100%;
        list-style: none;
        column-gap: 50px;
        align-items: flex-start;
        justify-content: center;
        
    }
    .right-side-nav ul .nav{
        /* position: relative; */
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-side-nav ul li{
        color: white;
        font-size: 20px;
        word-spacing: 10px;
        cursor: pointer;
    }
    /* .right-side ul li::after{
        display: none;
        content: '';
        position: absolute;
        width: 100%;
        height: 0.275rem;
        background-color: white;
        left: 5px;
        bottom: 0;
        transform: scale(0,1);
        transition: transform .4s ease;
    }
     */
    /* .right-side ul li:hover::after{
        transform: scale(1,1);
    }
     */
    .right-side-nav ul li span{
        font-weight: 700;
    }
    
    .right-side-nav ul .active::after{
        content: '';
        display: none;
        /* position: absolute; */
        width: 100%;
        height: 0.275rem;
        background-color: white;
        left: 5px;
        bottom: 0;
        transform: scale(1,1);
        transition: transform .4s ease;
    }
    
    .hamburger{
        display: flex;
        cursor: pointer;
    }
    
   
    
}
